[submodule "3rdparty/vgui_support"]
	path = vgui_support
	url = https://github.com/whamemer/vgui_support

[submodule "3rdparty/particleman"]
	path = particleman
	url = https://github.com/whamemer/particleman